#sidebar {
    width: 320px;
    position: fixed;
    right: -320px;
    top: 50px;
    bottom: 0;
    z-index: 23;
    background: #222;
}

.sidebar-inner{
    text-align: center;
    padding: 20px 10px;
    color:#828282;
}
.site-overview .author img{
    background-color: #333333;
    border-color: #333333;
    max-width: 100px;
    padding: 2px;
}
.site-overview .author .author-name{
    margin-top: 5px;
    color: #C4C4C4;
}

.site-overview .description{
    font-size: 13px;
    font-size: 1.3rem;
    color: #3C3C3C;
}

.site-overview .state .state-item{
    display: inline-block;
    padding: 0 1.5rem;
}
.site-overview .state .state-item:first-child{
    border-right: 0.1rem solid #333;
}
.site-overview .state .state-item span{
    display: block;
}
.site-overview .state .state-item .state-item-count{
    font-size: 18px;
    font-size: 1.8rem;
}
.site-overview .state .state-item .state-item-name{
    font-size: 13px;
    font-size: 1.3rem;
}

.site-overview .rss{
    margin-top: 20px;
    margin-top: 2rem;
}
.site-overview .contact{
    margin-top: 20px;
    margin-top: 2rem;
}

.bulletin{
    background-color: white;
    padding: 15px;
    border-left: solid 10px #ccc;
    /*border-bottom: solid 1px #ccc;*/
    margin-bottom: 5px;
    transition: border .2s ease-in;
}
.bulletin:hover{
    border-color: #E77E23;
}
